body {
  background-color: #313030;
  font-family: 'Amatic SC', cursive;
  color: #e50073;
}

.App {
  font-size: 30px;
}

.logo {
  height: 150px;
  /* center logo here */
}

.App header {
  text-align: center;
}

.App nav {
  padding: 40px;
}


/* LANDING SECTION */
.landing {
  color: #e50073;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.hero-title {
  font-size: 75px;
}

.landing h2 {
  font-size: 40px;
  font-weight: bold;
}

.landing p {
  font-style: italic;
  font-size: 30px;
}

/* LIBRARY SECTION */

.library img {
  height: 300px;
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 4px 4px rgba(10, 10, 10, .5);
}


.library #textGroups {
  text-align: center;
}

.library #albumTitle {
  font-weight: bold;
  font-size: 30px;
}




/* NOW PLAYING SECTION */

.album img {
  height: 300px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 4px 4px 4px rgba(10, 10, 10, .5);
}


#album-info {
  float: left;
  color: #e50073;
  text-align: center;
  align-content: center;
}

#playerBar {
  text-align: center;
  width: 300px;
  padding: 0px 10px 0px 100px;
  float: left;
}


table#song-list {
  text-align: left;
  padding-left: 30px;
  float: left;
}

.album #album-title {
  font-size: 70px;
  margin: 0px;
}

.album #artist {
  font-size: 50px;
  margin: -5px;
}

.album #release-info {
  font-size: 20px;
}

.album button {
  background-color: #313030;
  border: none;
  padding-right: 0px;
}

.song-title {
  color: white;
  padding: 0px 50px 0px 20px;
}

#song-number-column {
  width: 30px;
}

#song-title-column {
  width: 200px;
}

.song-number {
color: #e50073;

}

/* ICON COLORS */

.ion-play {
  color: #e50073;
  font-size: 20px;
}

.ion-pause {
  color: #e50073;
  font-size: 20px;
}

.ion-skip-forward {
  color: #e50073;
  font-size: 20px;
}

.ion-skip-backward {
  color: #e50073;
  font-size: 20px;
}
